.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.board {
	display: flex;
	width: 64vh;
	height: 64vh;
	background-color: antiquewhite;
	flex-wrap: wrap;
}

.square {
	margin: 0 !important;
	width: 12.5%;
	height: 12.5%;
}

.square-black {
	background-color: white;
}

.square-white {
	background-color: black;
}
